.go-watch-projects{
    margin-top: 120px;
    display: grid;
    justify-content: center;
    
}

.gwp-header{
    text-align: center;
    animation: fade-in-up linear;
    animation-duration: 1.5s;
    animation-timeline: view();
    animation-range-start: 2%;
    animation-range-end: 40%;
    animation-timing-function: ease-in-out;
}

.gwp-header p{
    font-family: "Syne";
    font-size: 32px;
    font-weight: bold;
}
.gwp-buttons{
    justify-self: center;
    animation: fade-in-up linear;
    animation-duration: 1.5s;
    animation-timeline: view();
    animation-range-start: 2%;
    animation-range-end: 50%;
    animation-timing-function: ease-in-out;
}
.gwp-buttons button{
    margin-right: 40px;
    height: 60px;
    width: 200px;
    font-size: 20px;
    font-family: "Syne";
    font-weight: bolder;
    letter-spacing: 4px;
    background-color: #8A817C;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.gwp-buttons a{
    text-decoration: none;
    color: inherit;
}

.gwp-buttons button:hover{
    background-color: #A29D98;
}

.gwp-buttons button:active{
    opacity: 0.7;
}
.gwp-footer{
    text-align: center;
    animation: fade-in-up linear;
    animation-duration: 1.5s;
    animation-timeline: view();
    animation-range-start: 2%;
    animation-range-end: 50%;
    animation-timing-function: ease-in-out;
}
.gwp-footer p{
    font-family: "Syne";
    font-size: 28px;
    font-weight: 600;
}

@keyframes fade-in-up {
    from{
        scale: 0.8;
        opacity: 0;
        transform: translateY(-7%);
    }
    to{
        scale: 1;
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 600px){

    .go-watch-projects{
        margin-top: 60px;
    }
    .gwp-header p{
        font-size: 16px;
        font-weight: bold;
    }
    .gwp-buttons button{
        margin-right: 20px;
        height: 40px;
        width: 130px;
        font-size: 10px;
        font-weight: bold;
        letter-spacing: 2px;
        color: inherit;
        text-decoration: none;
        padding: 0;
    }
    .gwp-footer p{
        font-size: 14px;
        font-weight: 600;
    }
}